p:first-of-type {
    // background-color: antiquewhite;
    color: rgb(33, 69, 77);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // padding-bottom: 5em;
    font-family : ‘Noto Sans’, sans-serif;
    font-weight: 400;
}
h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    font-family : ‘Noto Sans’, sans-serif;
    font-weight: 400;
}

body {
    background-image: url("hedwig.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    // backdrop-filter: opacity(20%);
    // backdrop-filter: brightness(60%);
    // backdrop-filter: contrast(40%);
    background-size: cover;
    height: 100vh;
    font-family : ‘Noto Sans’, sans-serif;
    font-weight: 400;
}

.container {
  font-family : ‘Noto Sans’, sans-serif;
  font-weight: 400;
}


.header {
  font-family : ‘Noto Sans’, sans-serif;
  font-weight: 400;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.mt-1 {
  margin-top: ($spacer * .25) !important;
}
