.btn-green {
    background-color: #4e504f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-green:hover {
    background-color: #6ad5a8;
}

.btn-green {
    background-color: #d5ca6a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-green:hover {
    background-color: #ced56a;
}
